
*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}
::before::after{
    box-sizing: border-box;
}
.section{
    background-color: black;
    min-height: 100vh;
    display: block;
    padding: 0px 30px;
    opacity: 1;
    color: white!important;
}
.main-content{
    padding-left: 270px;
}
/* aside */
.aside{
    width: 270px;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    padding: 40px;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid rgb(189, 186, 186);
    color: white!important;
}
.bb{
    color: rgb(255, 115, 0);
}
.logo{
    font-weight: 700;
    position: absolute;
    top: 100px;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 4px;
}
.logo:hover{
    background-color: rgb(185, 189, 189);
}
.toggler{
    height: 40px;
    width: 45px;
    border: 1px solid rgb(233, 237, 241);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: rgb(206, 209, 216);
    display: none;
    align-items: center;
    justify-content: center;
}
.toggler span{
    height: 2px;
    width:20px;
    display: inline-block;
    background: rgb(124, 121, 119);
    position: relative ;
}
.toggler span::before{
    content: '';
    height: 2px;
    width: 20px;
    background-color: rgb(124, 121, 119);
    position: absolute;
    top: -6px;
    left: 0;
}

.toggler span::after{
    content: '';
    height: 2px;
    width: 20px;
    background-color: rgb(124, 121, 119);
    position: absolute;
    top: 6px;
    left: 0;
}
.nav{
    margin-top: 50px;
}
.nav a{
    font-size: 16px;
    font-weight: 500px;
    border-bottom: 1px solid rgb(202, 198, 196);
    color: white!important;   
}
.nav a:hover{
    background-color:bisque ;
    color: black !important;
}
.nav a i{
    margin-right: 10px;
}

/* home */
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.home{
    min-height: 100vh;
    display: flex;
    color: black;
}
.hide{
    display: none !important;
}
.home-info{
    flex: 0 0 60%;
    max-width: 60%;
    padding-left: 40px;
}
.home-img{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
    background-color: rgb(240, 199, 213);
}
.home-img::after{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid crimson;
    border-right: 10px solid crimson;
    right: -20px;
    bottom: -40px;
}
.home-img::before{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid crimson;
    border-left: 10px solid crimson;
    left:  -20px;
    top: -40px;
}
.home-img:hover{
    background-color: aliceblue;
}
h3.hi{
    font-size: 28px;
    margin: 15px 0;
}
.hi span{
    font-size: 30px;
    font-weight: 500;
    color: blue;
}
.profession{
    font-size: 30px;
    margin: 15px 0;
}
.profession span{
    color: rgb(110, 110, 233);
}

/* About */
.container{
    padding-top: 60px;
    padding-bottom: 70px;
    margin: auto;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 40px;
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 30px;
    font-weight: 700;
    position: relative;
    color: rgb(255, 115, 0);
}
.section-title h2::before{
    content: '';
    height: 3px;
    width: 50px;
    background-color: rgb(168, 14, 14);
    position: absolute;
    left: 0;
    top: 100%;
}
.section-title h2::after{
    content: '';
    height: 3px;
    width: 25px;
    background-color: rgb(168, 14, 14);
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 8px;
}
.about-content{
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 40px;
}
.about-text h3{
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 600;
}
h3 span{
    color: rgba(209, 3, 3, 0.884);
}
.about-text p{
    font-size: 18px;
    line-height: 30px;
}
.decoration{
    font-weight: 700;
}
.skills h3{
    font-weight: 600;
}
.skills{
    width: 50%;
    padding-left: 20px;
    padding-top: 30px;
}
.education{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
    padding-left: 40px;
}
.education h2{
    font-weight: 600;
}
.title{
    font-weight: 600;
}
.education ol{
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
    padding-right: 10px;
}

/* services*/

.section-name h2{
    font-size: 30px;
    margin-left: 225px;
    font-weight: 700;
    position: relative;
    color: rgb(255, 115, 0);
}
.section-name h2::before{
    content: '';
    height: 3px;
    width: 50px;
    background-color: rgb(168, 14, 14);
    position: absolute;
    left: 0px;
    top: 100%;
}
.section-name h2::after{
    content: '';
    height: 3px;
    width: 25px;
    background-color: rgb(168, 14, 14);
    position: absolute;
    left: 0px;
    top: 100%;
    margin-top: 8px;
    color: black!important;
}
.service-item-inner {
    margin-left: 210px;
    padding-left: 10px;
    background-color: rgb(228, 221, 212);
    border: 1px solid rgb(216, 212, 197);
    border-radius: 10px;
    transition: all 0.3s ease;
    color: rgb(68, 66, 66)!important;
}
.service-item-inner:hover{
    box-shadow:0 0 20px rgb(83, 82, 82);
    color: black!important;
}
.service-item-inner .icon{
   border-radius: 50%;
   display: block;
   margin: 0 auto 30px;
   text-align: center;
   font-size: 40px;
   color: rgb(236, 82, 26);
   transition: all 0.3s ease;
}
.service-item-inner .icon:hover{
    background-color:rgb(236, 82, 26);
    font-size: 30px;
    color: white;
}
.service-item-inner h3{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: capitalize;
}
.service-item-inner p{
    font-size: 15px;
    line-height: 25px;
}
.web{
   width: 33%;
   padding: 0 0px 0 0px;
}

/*Portfolio*/
.portfolio-heading{
    margin-left: 225px;
    margin-top: 20px;
    flex: 0 0 50%;
    max-width: 50%;
    display: inline;
}
.portfolio-heading h2{
    font-size: 25px;
    font-weight: 500;
}
.img{
    height: 200px;
    width: 320px;
    margin-left: 220px;
    margin-top: 20px;
}
.img1{
    margin-right: 125px;
    padding-right: 10px;
}

/*contact*/
.contact-title{
    margin-left: 225px;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    color: rgb(240, 126, 85);
}
.contact-sub-title{
    margin-left: 225px;
    font-size: 25px;
    text-align: center;
}
.form{
    margin-left: 225px;
}
.style-icon{
    margin-top: 100px; 
}
.style-icon p{
    font-weight: 200;
}
.style-icon i:hover{
    background-color: rgb(126, 123, 123);
}
@media only screen and (max-width:600px){
    .aside{
        left: -270px;
    }
    .main-content{
        padding-left:0px;
    }
    .home-img{
        display: block;
        height: 270px;
    }
}